<section class="section about">
  <div class="container">
    <h2 class="about__title">Why We Aer The Best?</h2>
    <p class="about__text">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
      been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
      galley...
    </p>
    <div class="about__wrap">
      <div class="about__content-wrap">
        <ul class="about__list about-list list">
          <li class="about-list__item">
            <div class="about-list__icon-wrap">
              <svg class="about-list__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-user"></use>
              </svg>
            </div>
            <div class="about-list__text">
              <p class="about-list__title">Fasted delivery Service</p>
              <p class="about-list__subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </div>
          </li>
          <li class="about-list__item about-list__item-accent">
            <div class="about-list__icon-wrap">
              <svg class="about-list__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-user"></use>
              </svg>
            </div>
            <div class="about-list__text">
              <p class="about-list__title">Online order Service</p>
              <p class="about-list__subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </div>
          </li>
          <li class="about-list__item">
            <div class="about-list__icon-wrap">
              <svg class="about-list__icon" width="40" height="40">
                <use href="./images/icons.svg#icon-user"></use>
              </svg>
            </div>
            <div class="about-list__text">
              <p class="about-list__title">24/8 Service</p>
              <p class="about-list__subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </p>
            </div>
          </li>
        </ul>
        <button type="button" class="about-list__arrow-down">
          <svg class="about-list__icon" width="15" height="32">
            <use href="./images/icons.svg#icon-arrow-down"></use>
          </svg>
        </button>
      </div>
      <img src="./images/about-user.png" alt="user" class="about__img-bg" />
    </div>
  </div>
</section>
