<section class="section advantages">
  <div class="container">
    <div class="swiper">
      <div class="main-slider swiper-wrapper">
        <div class="main-slider__item slider swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">What Our Customers About Us saying</h2>
            <p class="slider__text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularis
            </p>
            <div class="slider__staff">
              <h3 class="slider__person-title">Ahmed Hridoy</h3>
              <div class="slider__line">
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star-not-full"></use>
                </svg>
                <ul class="slider__btns">
                  <li class="slider__btn-item list">
                    <button type="button" class="slider__btn slider__btn-light button-prev">
                      <svg class="slider__btn-icon" width="10.37" height="17">
                        <use href="./images/icons.svg#icon-arrow-left-small"></use>
                      </svg>
                    </button>
                  </li>
                  <li class="slider__btn-item list">
                    <button type="button" class="slider__btn slider__btn-dark button-next">
                      <svg class="slider__btn-icon" width="10.37" height="17">
                        <use href="./images/icons.svg#icon-arrow-right-small"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slider__persone">
            <div class="slider__persone-wrap">
              <div class="slider__persone-img-wrap">
                <img src="./images/slider-persone.png" alt="" class="slider__persone-img" />
              </div>
              <div class="slider__rate slider-rate">
                <div class="slider-rate__star">
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star-not-full"></use>
                  </svg>
                </div>
                <div class="slider-rate__users">
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone1.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone2.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <svg class="slider-rate__icon" width="16" height="16">
                      <use href="./images/icons.svg#icon-plus"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__item slider swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">What Our Customers About Us saying</h2>
            <p class="slider__text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularis
            </p>
            <div class="slider__staff">
              <h3 class="slider__person-title">Ahmed Hridoy</h3>
              <div class="slider__line">
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star-not-full"></use>
                </svg>
                <ul class="slider__btns">
                  <li class="slider__btn-item list">
                    <button type="button" class="slider__btn slider__btn-light button-prev">
                      <svg class="slider__btn-icon" width="10.37" height="17">
                        <use href="./images/icons.svg#icon-arrow-left-small"></use>
                      </svg>
                    </button>
                  </li>
                  <li class="slider__btn-item list">
                    <button type="button" class="slider__btn slider__btn-dark button-next">
                      <svg class="slider__btn-icon" width="10.37" height="17">
                        <use href="./images/icons.svg#icon-arrow-right-small"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slider__persone">
            <div class="slider__persone-wrap">
              <div class="slider__persone-img-wrap">
                <img src="./images/slider-persone.png" alt="" class="slider__persone-img" />
              </div>
              <div class="slider__rate slider-rate">
                <div class="slider-rate__star">
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star-not-full"></use>
                  </svg>
                </div>
                <div class="slider-rate__users">
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone1.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone2.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <svg class="slider-rate__icon" width="16" height="16">
                      <use href="./images/icons.svg#icon-plus"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-slider__item slider swiper-slide">
          <div class="slider__content">
            <h2 class="slider__title">What Our Customers About Us saying</h2>
            <p class="slider__text">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularis
            </p>
            <div class="slider__staff">
              <h3 class="slider__person-title">Ahmed Hridoy</h3>
              <div class="slider__line">
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star"></use>
                </svg>
                <svg class="slider__icon" width="22" height="21">
                  <use href="./images/icons.svg#icon-star-not-full"></use>
                </svg>
                <ul class="slider__btns">
                  <li class="slider__btn-item list">
                    <button type="button" class="slider__btn slider__btn-light button-prev">
                      <svg class="slider__btn-icon" width="10.37" height="17">
                        <use href="./images/icons.svg#icon-arrow-left-small"></use>
                      </svg>
                    </button>
                  </li>
                  <li class="slider__btn-item list">
                    <button type="button" class="slider__btn slider__btn-dark button-next">
                      <svg class="slider__btn-icon" width="10.37" height="17">
                        <use href="./images/icons.svg#icon-arrow-right-small"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slider__persone">
            <div class="slider__persone-wrap">
              <div class="slider__persone-img-wrap">
                <img src="./images/slider-persone.png" alt="" class="slider__persone-img" />
              </div>
              <div class="slider__rate slider-rate">
                <div class="slider-rate__star">
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star"></use>
                  </svg>
                  <svg class="slider-rate__icon" width="14.36" height="13.36">
                    <use href="./images/icons.svg#icon-star-not-full"></use>
                  </svg>
                </div>
                <div class="slider-rate__users">
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone1.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone2.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <img class="slider-rate__img" src="./images/persone3.jpg" alt="" />
                  </a>
                  <a href="#" class="slider-rate__user">
                    <svg class="slider-rate__icon" width="16" height="16">
                      <use href="./images/icons.svg#icon-plus"></use>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
