<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__item footer-content">
        <a href="" class="footer-content__logo site-logo">
          <svg class="site-logo__icon" width="70" height="70">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <p class="footer-content__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer...
        </p>
      </div>
      <nav class="footer__item footer-navi">
        <ul class="footer-navigation list">
          <li class="footer-navigation__item">
            <h3 class="footer-navigation__title">Navigation</h3>

            <ul class="footer-navigation__list footer-list list">
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">About Us</a>
              </li>
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">Service</a>
              </li>
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">Menu</a>
              </li>
            </ul>
          </li>

          <li class="footer-navigation__item">
            <h3 class="footer-navigation__title">Resources</h3>

            <ul class="footer-navigation__list footer-list list">
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">Reviews</a>
              </li>
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">Blog</a>
              </li>
              <li class="footer-list__item">
                <a href="#" class="footer-list__link">Update News</a>
              </li>
            </ul>
          </li>
          <li class="footer-navigation__item">
            <h3 class="footer-navigation__title">Contact Us</h3>
            <p class="footer-navigation__label">
              Email:
              <a href="mailto:oyasim@email.com" class="footer-navigation__mail">oyasim@email.com</a>
            </p>
            <ul class="footer-navigation__contacts contacts-list list">
              <li class="contacts-list__item">
                <a href="#" class="contacts-list__link">
                  <svg class="contacts-list__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="contacts-list__item">
                <a href="#" class="contacts-list__link">
                  <svg class="contacts-list__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="contacts-list__item">
                <a href="#" class="contacts-list__link">
                  <svg class="contacts-list__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
