<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="mobile-menu-btn">
        <svg class="icon icon-menu mobile-menu-btn__icon" width="28" height="28">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </div>
      <nav class="header__item site-navigation">
        <ul class="site-navigation__list listsite-navigation__list list">
          <li class="site-navigation__item">
            <a href="#" class="site-navigation__link">About Us</a>
          </li>
          <li class="site-navigation__item">
            <a href="#" class="site-navigation__link">Service</a>
          </li>
          <li class="site-navigation__item">
            <a href="#" class="site-navigation__link">Menu</a>
          </li>
          <li class="site-navigation__item">
            <a href="#" class="site-navigation__link">Contact</a>
          </li>
        </ul>
      </nav>

      <a href="" class="header__item site-logo">
        <svg class="site-logo__icon" width="56" height="56">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="header__item site-actions">
        <div class="site-actions__btns">
          <a href="" class="site-actions__btn">
            <svg class="site-actions__icon" width="18.76" height="19.22">
              <use href="./images/icons.svg#icon-search"></use>
            </svg>
          </a>
          <a href="" class="site-actions__btn">
            <svg class="site-actions__icon" width="18.5" height="18.1">
              <use href="./images/icons.svg#icon-stroke"></use>
            </svg>
          </a>
        </div>

        <button type="button" class="site-actions__reg-btn">Regestar Now</button>
      </div>
    </div>
  </div>
</header>
