<section class="section hero">
  <div class="container">
    <img class="hero__img" src="./images/leaves.png" alt="leaves" width="612px" />
    <div class="hero__wrap">
      <h1 class="hero__title">Organic Fruit & Vegetables</h1>
      <p class="hero__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
        been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley...
      </p>
      <div class="hero__order">
        <p class="hero__order-text">Order Now</p>
        <button type="button" class="hero__button order-btn">
          <svg class="order-btn__icon" width="32" height="15">
            <use href="./images/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
      <div class="hero__list-wrap">
        <ul class="hero__list order-details list">
          <li class="order-details__item">
            <div class="order-details__icon-wrap">
              <svg class="order-details__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-user"></use>
              </svg>
            </div>
            <div class="order-details__text">
              <p class="order-details__title">30K</p>
              <p class="order-details__subtitle">User Order</p>
            </div>
          </li>

          <li class="order-details__item">
            <div class="order-details__icon-wrap">
              <svg class="order-details__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </div>
            <div class="order-details__text">
              <p class="order-details__title">20K</p>
              <p class="order-details__subtitle">Reviews(4.8)</p>
            </div>
          </li>

          <li class="order-details__item">
            <div class="order-details__icon-wrap">
              <svg class="order-details__icon" width="32" height="32">
                <use href="./images/icons.svg#icon-fruits"></use>
              </svg>
            </div>
            <div class="order-details__text">
              <p class="order-details__title">300</p>
              <p class="order-details__subtitle">Items</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
