<section class="section simple-way">
  <div class="container">
    <div class="simple-way__wrap">
      <div class="simple-way__img-wrap">
        <img src="./images/phone.png" alt="" class="simple-way__img" width="267px" height="497px" />
      </div>
      <div class="simple-way__content">
        <span class="simple-way__label">Download App</span>
        <h2 class="simple-way__title">Simple Way To Order Your Organic Fruit</h2>
        <p class="simple-way__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer...
        </p>
        <div class="simple-way__links">
          <a href="#" class="simple-way__link brand-link">
            <img src="./images/app-store-brand.png" alt="" />
          </a>
          <a href="#" class="simple-way__link brand-link">
            <img src="./images/google-play-brand.png" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
