<section class="specific">
  <div class="container">
    <div class="specific__wrap">
      <div class="specific__img-wrap">
        <img src="./images/specific.png" alt="" />
      </div>
      <div class="specific__content">
        <h2 class="section-title specific__title">Explor Our Special Items</h2>
        <p class="specific__text">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer...
        </p>
        <div class="specific__order">
          <p class="specific__order-text">Explor Now</p>
          <button type="button" class="specific__button order-btn">
            <svg class="order-btn__icon" width="32" height="15">
              <use href="./images/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <img class="specific__img-leaves" src="./images/leaves.png" alt="" />
    </div>
  </div>
</section>
