.footer {
  padding-top: 67px;
  padding-bottom: 118px;
}

.footer__wrap {
  display: flex;
}

.footer-content__logo {
  display: block;
  margin-bottom: 17px;
}

.footer-navi {
  margin-left: 155px;
}

.footer-navigation {
  display: flex;
  padding-top: 27px;
}

.footer-navigation__item {
  &:not(:last-child) {
    margin-right: 142.87px;
  }
}

.footer-navigation__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.29;
  margin-bottom: 40px;
}

.footer-list__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.footer-navigation__label {
  display: flex;
}

.footer-navigation__mail {
  padding-left: 3px;
  margin-bottom: 25px;
  // display: inline-block;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-top: -25px;
}

.contacts-list__item {
  flex-basis: calc(100% / 3 - 25px);
  margin-left: 25px;
  margin-top: 25px;
}
