.header {
  padding-top: 50px;
  padding-bottom: 43px;
}

.header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 728px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.mobile-menu-btn {
  @media screen and (min-width: 728px) {
    display: none;
  }
}

.site-navigation {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.site-navigation__list {
  display: flex;
  align-items: center;
}

.site-navigation__item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.site-navigation__link {
  line-height: 1.33;
  color: var(--title-color);
  transition: color 0.25s linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-logo__icon {
  transition: transform 0.25s linear;
  &:hover {
    transform: scale(1.1);
  }
}

.site-actions__icon {
  fill: none;
  stroke: var(--title-color);
}

.site-actions {
  @media screen and (min-width: 728px) {
    display: flex;
    align-items: center;
  }
}

.site-actions__btns {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 728px) {
    margin-right: 32px;
  }
}

.site-actions__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-light-color);
  transition: background-color 0.25s linear;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.site-actions__icon {
  transition: stroke 0.25s linear;
  .site-actions__btn:hover &,
  .site-actions__btn:focus & {
    stroke: var(--white-color);
  }
}
.site-actions__reg-btn {
  padding: 10px 23px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.1;
  transition: all 0.25s linear;
  color: var(--white-color);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
  }
}
