.simple-way {
  padding-top: 54px;
  padding-bottom: 140px;
}

.simple-way__wrap {
  display: flex;
  align-items: center;
}

.simple-way__img-wrap {
  padding-left: 100px;
  margin-right: 113px;
}

.simple-way__img {
  max-width: none;
}

.simple-way__label {
  display: block;
  text-align: center;
  line-height: 40px;
  width: 170px;
  height: 40px;
  background: var(--accent-light-color);
  border-radius: 50px;
  margin-bottom: 16px;
}

.simple-way__title {
  font-size: 70px;
  line-height: 1.29;
  margin-bottom: 20px;
}

.simple-way__text {
  width: 575px;
  margin-bottom: 50px;
}

.simple-way__links {
  display: flex;
}

.brand-link {
  display: flex;
  border-radius: 5px;
  &:not(:last-child) {
    margin-right: 23px;
  }
}

.brand-link__content {
  margin-left: 6.5px;
  color: var(--white-color);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-link__label {
  font-size: 7px;
}

.brand-link__title {
  font-size: 10px;
}
